<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Donald</title>
    <link
      rel="icon"
      href="/asset/img/Explore/img_app.png"
      type="image/x-icon"
    />

    <link href="/public/asset/css/base.css" />
    <link rel="stylesheet" href="/public/asset/css/base.css" />
    <link rel="stylesheet" href="/public/asset/css/grid.css" />
    <link rel="stylesheet" href="/public/asset/css/responsive.css" />
    <link rel="stylesheet" href="/public/asset/css/style.css" />
    <link
      rel="stylesheet"
      href="/public/asset/font/fontawesome-free-6.4.2-web/css/all.min.css"
    />
  </head>
  <body>
    <!-- 404 -->
    <div
      style="background-image: url(/asset/img/404.jpg)"
      class="img_404 hide-on-PC"
    ></div>

    <!-- app -->
    <div class="app">
      <!-- nav -->
      <nav class="header__container">
        <div class="nav row">
          <a href="/" class="logo-link col l-2 m-3 c-3">
            <img
              class="nav__logo"
              src="/public/asset/img/Home/logo.png"
              alt="Logo"
            />
          </a>
          <div class="nav-iconMenu col l-0 m-0 c-2 hide-on-PC hide-on-tablet">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="nav-menu col l-7 m-5 c-12">
            <ul class="nav-list">
              <li class="nav-items">
                <a href="#home_page-bg" class="nav-items__link">Home</a>
              </li>
              <li class="nav-items">
                <a href="#explore_page-bg" class="nav-items__link">Explore</a>
              </li>
              <li class="nav-items">
                <a href="#course_page-bg" class="nav-items__link">Course</a>
              </li>
              <li class="nav-items">
                <a href="#about_page" class="nav-items__link">About</a>
              </li>
            </ul>
          </div>
          <div class="nav-user col l-3 m-4 c-7 hide-on-mobile">
            <a href="/login" class="nav-users__link">Get Started</a>
          </div>
        </div>
      </nav>

      <!-- bot -->
      <a href="" class="bot_link">
        <img
          src="/public/asset/img/Explore/img_bot.png"
          class="bot-img"
          alt="Bot Image"
        />
      </a>

      <!-- Home PAGE -->
      <section id="home_page-bg">
        <img src="/public/asset/img/Home/img_Home.png" alt="Home Image" />
        <div class="home_page grid wide">
          <div class="home_page-container col l-4 m-12 c-12">
            <h1 class="home_page-title col l-12 hide-on-mobile">Donald</h1>
            <p class="home_page-content col l-12">
              The Donald Project offers online courses, early intervention
              therapy, psychological counselling, life skills, and social
              communication classes for autistic children and their families. It
              aims to assist them in reaching their full potential, integrating
              into society, and fostering a supportive environment.
            </p>
            <button class="home_page-btn l-6 hide-on-mobile">More Info</button>
          </div>
        </div>
      </section>

      <!-- Explore PAGE -->
      <section id="explore_page-bg" class="grid">
        <img
          src="/public/asset/img/Explore/img_Explore.png"
          alt="Explore Image"
        />
        <div class="explore_page">
          <div class="grid wide">
            <div class="container-explore_page">
              <h1 class="title-explore_page">CONTENT</h1>
              <p class="content-explore_page">
                Below are articles and blogs about this condition. You can refer
                to it by clicking on the read more section
              </p>
            </div>
            <div class="blog-explore_page">
              <div class="row">
                <div class="blog-items col l-5 m-5 c-5">
                  <div class="blog-content">
                    <div class="blog-info">
                      <div class="blog-author">Shannon Des Roches Rosa</div>
                      <div class="blog-header">Thinking Autism Guide</div>
                      <a
                        href="https://www.feedspot.com/infiniterss.php?_src=feed_title&followfeedid=4132041&q=site:https%3A%2F%2Fwww.thinkingautismguide.com%2Ffeeds%2Fposts%2Fdefault%3Falt%3Drss"
                        class="blog-btn-link"
                      >
                        <button class="blog-btn">Read now</button>
                      </a>
                    </div>
                    <div class="blog-img">
                      <img
                        src="/public/asset/img/Explore/img1_blog.png"
                        alt="Blog Image 1"
                      />
                    </div>
                  </div>
                </div>
                <div class="blog-items col l-3 m-5 c-5">
                  <div class="blog-content">
                    <div class="blog-info">
                      <div class="blog-author">Seattle Children’s</div>
                      <div class="blog-header">The Autism Blog</div>
                      <a
                        href="https://www.seattlechildrens.org/clinics/autism-center/the-autism-blog/"
                        class="blog-btn-link"
                      >
                        <button class="blog-btn">Read now</button>
                      </a>
                    </div>
                    <div class="blog-img">
                      <img
                        src="/public/asset/img/Explore/img2_blog.png"
                        alt="Blog Image 2"
                      />
                    </div>
                  </div>
                </div>
                <div class="blog-items col l-3 m-5 c-6 hide-on-mobile">
                  <div class="blog-content">
                    <div class="blog-info">
                      <div class="blog-author">Author</div>
                      <div class="blog-header">CONTENT 3</div>
                      <a href="" class="blog-btn-link">
                        <button class="blog-btn">Read now</button>
                      </a>
                    </div>
                    <div class="blog-img">
                      <img
                        src="/public/asset/img/Explore/img3_blog.png"
                        alt="Blog Image 3"
                      />
                    </div>
                  </div>
                </div>
                <div class="blog-items col l-3 m-5 c-6 hide-on-mobile">
                  <div class="blog-content">
                    <div class="blog-info">
                      <div class="blog-author">Author</div>
                      <div class="blog-header">CONTENT 4</div>
                      <a href="" class="blog-btn-link">
                        <button class="blog-btn">Read now</button>
                      </a>
                    </div>
                    <div class="blog-img">
                      <img
                        src="/public/asset/img/Explore/img4_blog.png"
                        alt="Blog Image 4"
                      />
                    </div>
                  </div>
                </div>
                <div class="blog-items col l-3 m-5 c-6 hide-on-mobile-tablet">
                  <div class="blog-content">
                    <div class="blog-info">
                      <div class="blog-author">Author</div>
                      <div class="blog-header">CONTENT 5</div>
                      <a href="" class="blog-btn-link">
                        <button class="blog-btn">Read now</button>
                      </a>
                    </div>
                    <div class="blog-img">
                      <img
                        src="/public/asset/img/Explore/img2_blog.png"
                        alt="Blog Image 5"
                      />
                    </div>
                  </div>
                </div>
                <div class="blog-items col l-5 m-5 c-6 hide-on-mobile-tablet">
                  <div class="blog-content">
                    <div class="blog-info">
                      <div class="blog-author">Author</div>
                      <div class="blog-header">CONTENT 6</div>
                      <a href="" class="blog-btn-link">
                        <button class="blog-btn">Read now</button>
                      </a>
                    </div>
                    <div class="blog-img">
                      <img
                        src="/public/asset/img/Explore/img1_blog.png"
                        alt="Blog Image 6"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- COURSE PAGE -->
      <section id="course_page-bg">
        <img
          src="/public/asset/img/Course/Course_img/img3_Course.png"
          alt="Course Image"
        />
        <div class="course_page grid wide">
          <div class="course_page-container row">
            <div class="col l-12 m-12 c-12">
              <h1 class="title-course_page">WHAT WE PROVIDE</h1>
              <p class="content-course_page">
                We help to provide all the necessary services, such as therapy,
                skills training, psychology counselling, etc. All services are
                guaranteed.
              </p>
            </div>
            <div class="course_content row">
              <div class="course-items col l-6 m-6 c-12">
                <div class="row course-info">
                  <div class="course-icon col l-1 m-1 c-2">
                    <i class="fa-solid fa-book"></i>
                  </div>
                  <div class="course-content col l-10 m-10 c-10">
                    <h3 class="course-header">THERAPY</h3>
                    <p class="course-description">
                      Various forms of therapy provided, including behavioral,
                      speech, and occupational therapy.
                    </p>
                  </div>
                </div>
              </div>
              <div class="course-items col l-6 m-6 c-12">
                <div class="row course-info">
                  <div class="course-icon col l-1 m-1 c-2">
                    <i class="fa-solid fa-graduation-cap"></i>
                  </div>
                  <div class="course-content col l-10 m-10 c-10">
                    <h3 class="course-header">SKILLS TRAINING</h3>
                    <p class="course-description">
                      Life skills training to help individuals become more
                      independent.
                    </p>
                  </div>
                </div>
              </div>
              <div class="course-items col l-6 m-6 c-12">
                <div class="row course-info">
                  <div class="course-icon col l-1 m-1 c-2">
                    <i class="fa-solid fa-user-cog"></i>
                  </div>
                  <div class="course-content col l-10 m-10 c-10">
                    <h3 class="course-header">PSYCHOLOGY COUNSELLING</h3>
                    <p class="course-description">
                      Professional psychological counselling services for
                      individuals and families.
                    </p>
                  </div>
                </div>
              </div>
              <div class="course-items col l-6 m-6 c-12">
                <div class="row course-info">
                  <div class="course-icon col l-1 m-1 c-2">
                    <i class="fa-solid fa-hand-holding-heart"></i>
                  </div>
                  <div class="course-content col l-10 m-10 c-10">
                    <h3 class="course-header">SUPPORT GROUPS</h3>
                    <p class="course-description">
                      Support groups for families to share experiences and gain
                      support from others.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ABOUT PAGE -->
      <section id="about_page">
        <div class="about_page grid wide">
          <div class="about_page-container row">
            <div class="col l-12 m-12 c-12">
              <h1 class="title-about_page">ABOUT US</h1>
              <p class="content-about_page">
                We are dedicated to providing comprehensive services for
                children with autism and their families. Our goal is to support
                and empower individuals to reach their full potential.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- CONTACT PAGE -->
      <section id="contact_page">
        <div class="contact_page grid wide">
          <div class="contact_page-container row">
            <div class="col l-12 m-12 c-12">
              <h1 class="title-contact_page">CONTACT US</h1>
              <form class="contact-form" action="/submit_contact" method="POST">
                <div class="row">
                  <div class="col l-6 m-6 c-12">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required />
                  </div>
                  <div class="col l-6 m-6 c-12">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required />
                  </div>
                </div>
                <div class="row">
                  <div class="col l-12 m-12 c-12">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" required></textarea>
                  </div>
                </div>
                <div class="row">
                  <div class="col l-12 m-12 c-12">
                    <button type="submit" class="contact-btn">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!-- Footer -->
      <footer class="footer">
        <div class="footer-container grid wide">
          <div class="row">
            <div class="footer-info col l-12 m-12 c-12">
              <p>© 2024 Donald Project. All rights reserved.</p>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
